<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section>
        $if(tags)$
        Tags: $tags$
        $endif$
    </sectoin>
    <br>
    <br>
    <br>
    <section class="markdown-body">
        $body$
    </section>
</article>
<br/>
<hr/>
<script src="https://utteranc.es/client.js"
        repo="5pecia1/5pecia1.github.io"
        issue-term="pathname"
        crossorigin="anonymous"
        async>
</script>
